In [ ]:
# Need to write 29, 30, 33, 34,37,39, 41, 42, 47, 48, 50

In [1]:
# Assignment 27 & 31 : Single digit from user and find max min sum average
a = input("Enter digits: ")
print "Max of digits: ",max(a)
print "Min of digits: ",min(a)
print "sum of digits: ",sum(a)
print "Average of digits: ",(sum(a)/len(a))

Enter digits: 3,5,1,4
Max of digits:  5
Min of digits:  1
sum of digits:  13
Average of digits:  3

In [8]:
# Assignment 28: 
for i in range(1, 5):
    a = raw_input("Enter a value: ")
    print a.rjust(6, "0")
    i = i + 1

Enter a value: 10
000010
Enter a value: 100
000100
Enter a value: 1000
001000
Enter a value: 234567
234567

In [ ]:
# Assignment 29: names  ="emp1,emp2,emp3,emp4" iterate through the employee names.
names = "emp1,emp2,emp3,emp4"

In [ ]:
# Assignment 30: Take actual string, soucrce string, destination string. replce first nth occurances of soucestring with destination string of actual string

In [21]:
#Assignment 32 
l=[10,20,30,[40,50,60],70,[80,90,20]]
l2 = l.pop(3)
l3 = l.pop()
print l
l4 = l+l2+l3
print l4

[10, 20, 30, 70]
[10, 20, 30, 70, 40, 50, 60, 80, 90, 20]

In [ ]:
#Assignment 33: input: "google" print count of each character
a = raw_input("Enter a string: ")
for i in a:

In [ ]:
# Assignment 34: Convert n dimentional list to single dimentiona list.

In [11]:
# Assignment 35:
l = [1,2,3]
st1 = [str(item) for item in l]
print st1

['1', '2', '3']

In [2]:
#Assignment 36: 
l=[1,2,3,[4,5,6],7,[8,9,10]]
l2 = l.pop(3)
l3 = l.pop()
print l
l4 = l+l2+l3
print l4

[1, 2, 3, 7]
[1, 2, 3, 7, 4, 5, 6, 8, 9, 10]

In [ ]:
# Assignment 37: l=['a','A','b','B','d','D','c','C'] WAP to find out case insensitive count and case insensitive search for an element.
l=['a','A','b','B','d','D','c','C']

In [19]:
# Assignment 38 : l=['a','A','b','B','d','D','c','C']  sort the list properly
l=['a','A','b','B','d','D','c','C']
l.sort()
print l

['A', 'B', 'C', 'D', 'a', 'b', 'c', 'd']

In [ ]:
# Assignment 39: find the start position of the largest block of repeated characters in a given string

In [7]:
# Assignment 40:  WAP to find union and intersection of lists.
l1 = [1,3,5,6,7,1]
l2 = [3,6,33,21,5]
print "Union of l1 and l2: ", list(set(l1) & set(l2))
print "Intersection of l1 and l2: ", list(set(l1) | set(l2))

Union of l1 and l2:  [3, 5, 6]
Intersection of l1 and l2:  [1, 3, 5, 6, 7, 21, 33]

In [ ]:
# Assignement 41: input: fun(5) output: [1,2,3,4,3,2,1]

In [ ]:
# Assignment 42: input fun('abc') output: [[],][a],[b],[c],[a,b],[b,c],[c,a],[a,b,c]]

In [10]:
#Assignment 43: Remove duplicates from the list: a=[1,2,3,2,3,4,1,,3,4]
a=[1,2,3,2,3,4,1,3,4]
print "Unique values of list a: ", list(set(a))

Unique values of list a:  [1, 2, 3, 4]

In [17]:
# Assignment 44: l=['1','2','3'] get the sum of the list
l=['1','2','3'] 
l2 = [int(item) for item in l]
sum = l2[0]+l2[1]+l2[2]
print sum

[1, 2, 3]
6

In [2]:
# Assignment 45: l1=[1,2,3,4] l2=[5,6,7,8] sum of two lists
l1=[1,2,3,4] 
l2=[5,6,7,8]
print zip(l1,l2)
for i in zip(l1,l2):
    print i[0]+i[1]

[(1, 5), (2, 6), (3, 7), (4, 8)]
6
8
10
12

In [26]:
# Assignment 46: Find third max value of element in a list with sorting and without sorting a list.
l = [3,5,7,2,4,8,9,1]
l2 = sorted(l, reverse=True)
print l2
print "Third Max value in the list is: ", l2[2]

[9, 8, 7, 5, 4, 3, 2, 1]
Third Max value in the list is:  7

In [ ]:
a = True
n = 0
while a == True:                           #  To loop the following commands 
    running = True
    while running == True:
        r = 0
        n =  n+ 1
        for x in range(1,n + 1):
            if n%x == 0:                   #  To determine the factors of n
                r = r + x
                if x == n:
                    if  r == 2*n:
                        print n
                        running = False
                    else:
                        running = False

In [14]:
for n in range(1, 101):
    for i in range(2, n/2 + 1):
        if sum(i) == n-1:
            
for i in range(1,100):
    for j in range (1, i):
        if i % j == 0:
            j = j+1
            sum = sum + i
if sum == j:
    print j

In [6]:
for n in range(2, 1001):
    if sum(i for i in range(2, n/2 + 1) if n % i == 0) == n -1:
        print n

6
28
496

In [21]:
# without sorting
l = [1,2,3,4,5,342,2342,2342,2323,456]
l2 = max(l)
l3 = l.index(l2)
l.pop(l3)
print l
l4 = max(l)
l5 = l.index(l4)
l.pop(l5)
print l
l6 = max(l)
print "Third Max value in the list: ", l6

[1, 2, 3, 4, 5, 342, 2342, 2323, 456]
[1, 2, 3, 4, 5, 342, 2323, 456]
Third Max value in the list:  2323

In [ ]:
# Assignemnt 47: Input = ["1/1","1/2","1/3","1/4","2/5","2/6","2/8"] Output = [['1/1-4'], ['2/5-6'], ['2/8']]

In [ ]:
# Assignment 48:

In [44]:
#Assignment 49: Even odd
a = [1,2,3,4,5]
print a
b = []
for i in a:
    if (i % 2)== 0:
        b.insert(i,"Even Number")
    else:
        b.insert(i,"Odd number")
print b

[1, 2, 3, 4, 5]
['Odd number', 'Even Number', 'Odd number', 'Even Number', 'Odd number']

In [ ]:
# Assignment 50: input n=3  output: 	111 		101 		111